<div class="col-12">
  <h1>ToDo List</h1>
</div>
<div class="col-12">
  <ul class="list-group" *ngFor='let todoItem of todoItems | async'>
    <li class="list-group-item">
      <span *ngIf="todoItem.isComplete">&#9989;</span>
      <span>{{ todoItem.name }}</span>
      <button type="submit" class="btn btn-danger btn-sm float-right mr-1" (click)="deleteTodo(todoItem.id)">Delete</button>
      <button type="submit" *ngIf="!todoItem.isComplete" class="btn btn-secondary btn-sm float-right" (click)="checkTodo(todoItem.id)">Check</button>
    </li>
  </ul>
</div>
<br/>
<div class="col-12">
  <form>
    <div class="form-group">
      <label for="todoText" class="sr-only">ToDo Text</label>
      <input type="text" id="todoText" name="todoText" [(ngModel)]="currentTodoItem.name" class="form-control" aria-describedby="todoHelp" placeholder="Enter ToDo text">
      <small id="todoHelp" class="form-text text-muted">Enter your ToDo text here.</small>
    </div>
    <button type="submit" class="btn btn-primary" (click)="addTodo()" >Submit</button>
  </form>
</div>
